<!-- NoteTakerComponent to be displayed as part of DashboardComponent, common to both NoteViewComponent and ListViewComponent -->
<app-note-taker></app-note-taker>

<!-- Following router outlet displays the NoteViewComponent or ListViewComponent based on primary route -->
<!-- Here NoteViewComponent or ListViewComponent components are loaded. Refer routes in app.module.ts -->
<router-outlet></router-outlet>

<!-- Following named router outlet displays the EditViewComponent based on the secondary route. Refer line 41 of app.module.ts -->
<!-- Here EditNoteOpenerComponent is loaded. Refer routes in app.module.ts -->
<router-outlet name="noteEditOutlet"></router-outlet>