.note-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-expansion-panel
{
    margin:0 auto;
    width: 70vw;
}

.note-form
{
    display: flex;
    flex-direction: column;
}